.timeline {
  /*  this the main timeline container: positions the timeline centrally, and allows horizontal scrolling for wide timelines */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  overflow-x: scroll;
}

.timeline-event {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  width: 80%;
}

.timeline-dot {
  width: 20px;
  height: 20px;
  background-color: #007bff;
  border-radius: 50%;
  position: absolute;
  left: -30px;
}
/* Content box for each event: includes background, padding, and shadow for better readability and visual appeal */

.timeline-content {
  background: #f9f9f9;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(243, 0, 0, 0.1);
  width: 100%;
  margin-left: 40px;
}

.timeline-content h3 {
  margin: 0 0 10px;
}

.timeline-content p {
  margin: 5px 0;
}
/* 
@media (max-width: 640px) {
  .timeline-event {
      flex-direction: column; 
      width: 90%; 
      padding: 1rem; 
      margin-bottom: 1rem; 
  }

  .timeline-dot {
      position: relative; 
      top: -10px; 
      left: 50%; 
      transform: translateX(-50%); /
  }

  .timeline-content {
      width: 100%; 
      padding: 1rem; 
      margin-top: 0.5rem; 
  }

  body {
      font-size: 14px; 
  }
}
*/
/* Responsive media query for small and  wide screens its work well from small size phone like iphone se 320 px and to for more larger scerrn like ipad pro its  scales down the timeline container and adjusts positioning to fit screen */
@media only screen and (max-width: 1500px) {
  .timeline-container {
    transform: scale(0.7) translateY(-250px) translateX(-200px) !important;
    width:1000px !important;
    overflow-x: visible !important;
  }
}